:root{
    --gold: #946c2c;
    --selectgold: #c3903c;
    --blubutt: #004ca4;
    --wordcolor: #e4c49c;
    --font: #575a3f;
    --red:  #9e1a23;
}
body{
    font-family: 'Rubik', sans-serif !important;
    color: white !important;
    background: -webkit-radial-gradient(#1c1c22 , #222424);
    background: -moz-radial-gradient( #1c1c22,  #222424 );
    background-size: cover;
}
.navbar-brand{
    color: white !important;
}
.text-gold{
    color: var(--gold) !important;
}
.text-T{
    font-family: 'Allison', cursive;
}
.textblack{
    color: black !important;
}
#Carrousel{
    margin-left: 0;
    padding: 0%;
    margin-right: 5%;  
}
#text-center{
    padding-left: 50px;
}
#highligth-text{
    color: var(--red) !important;
}
#sep1{
    padding-left: 40%;
}
.center-carrousel{
    top: 50% !important;
    opacity: 1;
}
.font-giant{
    font-size: 5.5rem !important;
}
#bttn1{
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    padding: 0.8rem 1.8rem !important;
    font-size: 2rem !important;
    border-radius: 30px !important;  
}
#bttn1:hover{
    border-color: white !important;
}
#carousel1{
    opacity: 0.8;
    font-family: 'Josefin Sans', sans-serif !important; 
}
#Carrousel{
    font-family: 'Josefin Sans', sans-serif !important;
}
#container-lett{
    max-width: 100% !important;
    height: 30rem !important;
}
.div-centred{
    padding-top: 10rem !important;
}
.card{
    background-color: transparent !important;
    border-style: inherit !important;
}
.card .btn-primary{
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    border-radius: 30px !important;
    margin-left: 31%; 
}
.card .btn-primary:hover{
    background-color:white !important;
    border-color: white !important;
    color: var(--red);
}
.card img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.fs-xl{
    font-size: 3.5rem !important;
}
#cards{
    margin-left: 23% !important;
}
#cardp{
    margin-left: 5%;
}
#img-h{
    height: 80% !important;
}
#img-h:hover{
    transform: scale(105%,105%);
}
#carro{
    width: 80% !important;
}
#carro-builds{
    font-family: 'Permanent Marker', cursive;
    width: 60%;
}
#lettop{
    top: 0% !important;
}
.red{
    color: var(--red) !important;
}
#social-media{
    margin-bottom: 10em;
}
html, body {
    overflow-x:hidden 
} 
.mb-xl{
    margin-bottom: 5rem !important;
}
@media (max-width:1376px){
    html, body {
        overflow-x:hidden 
    }
    .center-carrousel{
        top: 37% !important;
    }
    #sep1{
        padding-left: 36%;
    }
    #cards {
        margin-left: 13.5% !important;
    }
    section{
        width: 100%;
    }
    #container-lett{
        margin-left: 0% !important;
    }
    #carro-builds{
        width: 80%;
    }
}
@media (max-width:992px){
    html, body {
        overflow-x:hidden 
    }
    .carousel-caption{
        left: 9% !important;
    }
    .center-carrousel{
        top: 49% !important;
    }
    .font-giant {
        font-size: 9.5rem !important;
    }
    #carousel .font-giant{
        padding-left: 3% !important;
    }
    .div-centred {
        padding-top: 5rem !important;
    }
    #container-lett{
        height: 25rem !important;
    }
    .fs-xlT {
        font-size: 2.5rem !important;
    }
    .xl {
        font-size: 1rem !important;
    }
    #sep1 {
        padding-left: 31%;
    }
    #carro-builds {
        width: 80%;
        height: 468px;
        font-size: 9.5rem !important;        
    }
    #Carrousel2 .font-giant {
        font-size: 3.5rem !important;
    }
    .centred992{
        padding-left: 13% !important;
    }
    #cards {
        margin-left: 3% !important;
    }
    .cards{
        width: 46rem !important;
    }
    #Carrousel .font-giant{
        font-size: 7.5rem !important;
    }
    .centredC992{
        padding-left: 7% !important;
    }
    #cardp{
        margin-left: 3%;
    }
}

/*colores a usar:
buttoms blues #046e90
gold   #946c2c   
select gold #c3903c
word select #e4c49c
blue tones  #045d77 
            #0a94ac
            #247494
background general #102830
font contrastante #575a3f

*/
